* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
 background-color: aqua;

}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(14, 5, 5);
}

h1 {
    font-size: 2em;
    color: #580e0e;
}

h2 {
    font-size: 1.5em;
    color: #580e0e;
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}